# Python 캐시 및 빌드 파일
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# 가상환경 (예: venv, .env)
.venv/
venv/
ENV/
env/
*.env

# VSCode 설정
.vscode/

# 운영체제 파일
.DS_Store
Thumbs.db

# mypy, pytest, coverage 관련
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# 로그 파일
*.log

# DB, 인증 관련 민감 파일
*.db
*.sqlite3
*.pem

# IDE 파일
.idea/
*.swp

# Docker MySQL 볼륨 데이터 (절대 업로드 X)
src/mysql-data/